.h_sec_3 .portContainer {
  padding-top: 30px;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .h_sec_3 .portContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
}
